<div class="footer-content">
  <div class="information">
    <div class="row justify-content-around">
      <div class="col-md-6 contact">
        <p><a href="https://www.wantedly.com/id/kenji_kurano_sksp">Wantedly</a></p>
      </div>
      <div class="col-md-6 company">
        <p><a href="https://github.com/to-Kenji">Github</a></p>
      </div>
    </div>
  </div>
  <div class="copywright">
    <p><a href="/" class="title-name">プロはん養成所</a></p>
    <p>©︎ 2021 KenZi All rights reserved.</p>
  </div>
</div>
