<div class="footer-content">
  <span class="contact">
    <a href="#">お問い合わせ</a>
  </span>
  <span class="my-information">
    <a href="#">会社（個人）情報</a>
  </span>
</div>
<p><a href="/" class="title-name">プロはん養成所</a></p>
<div class="copywright">
  ©︎ 2021 KenZi All rights reserved.
</div>
