<footer>
  <div class="footer-content">
    <span class="contact disabled">
      <a href="#">お問い合わせ</a>
    </span>
    <span class="my-information disabled">
      <a href="#">会社（個人）情報</a>
    </span>
  </div>
  <p><a href="/">プロはん養成所</a></p>
  <div class="copywright">
    ©︎ 2021 KenZi All rights reserved.
  </div>
</footer>