<div class="row justify-content-around">
  <div class="user-profile col-md-4">
    <%= render 'user_card' %>
  </div>
  <div class="relational-list col-md-7">
    <h5>フォローされています</h5>
    <div id="users_list">
      <%= render 'users/users', users: @followers %>
    </div>
    <div class="more-list">
      <%= link_to_next_page @followers, icon('fas', 'plus-circle'), remote: true, class: 'paginate-button', id: 'paginate' %>
    </div>
  </div>
</div>