<div class="welcome">
  <div class="container">
    <div class="row justify-content-around text-center">
      <div class="col-md-9 align-self-center mb-4">
        <h1>「上手くなりたいなら、集まれ。」</h1>
        <br>
        <h1>Monster Hunter World: Iceborn</h1>

        <p>「なかなかモンスターが倒せない・・・」</p>
        <p>「マルチプレイで周囲に迷惑をかけてしまう・・・」</p>
        <p>「上手いプレイヤーのテクニックを知りたい・・・」</p>
        <br>
        <h4>プロはん養成所は、そんなハンターを応援するため、"プレイスキルに特化"した攻略情報を共有しています。</h4>
        <p>※利用には登録、ログインが必要です</p>
      </div>
      <div class="col-md-3 align-self-center">
        <p><%= link_to 'ログインはこちら', new_user_session_path(anchor: 'target'), class: 'button button-md button-blue' %></p>
        <p><%= link_to 'はじめてですか？登録はこちら', new_user_registration_path(anchor: 'target'), class: 'button button-md button-blue' %></p>
        <p><%= link_to 'お試し用ゲストログイン', users_guest_sign_in_path, method: :post, class: 'button button-md button-green' %></p>
      </div>
    </div>
  </div>
</div>  