<div class="center jumbotron">
  <div class="row justify-content-around">
    <div class="col-md-6 text-center">
      <h1>MONSTER HUNTER</h1>
      <h3>WORLD</h3>
      <h1>ICEBORN</h1>
      <strong>"ガチ勢"向けのコミュニティサービス</strong>
      <p>技術を共有し、学び、みんなでプロはんを目指そう！</p>
    </div>
    <div class="col-md-4">
      <%= render 'sign_up' %>
    </div>
  </div>`
</div>