<div class="center jumbotron text-white" style="background: url(<%= asset_path("jumbotron.jpeg")%>)">
  <div class="row justify-content-around">
    <div class="col-md-6">
      <h3>Monster Hunter World: Iceborn</h3>
      <p>「なかなかモンスターが倒せない・・・」</p>
      <p>「マルチプレイで周囲に迷惑をかけてしまう・・・」</p>
      <p>「上手いプレイヤーのテクニックを知りたい・・・」</p>
      <br>
      <strong>プロはん養成所は、そんなハンターを応援するため、"プレイスキルに特化"した攻略情報を共有しています。</strong>

    </div>
    <div class="col-md-4">
      <%= render 'sign_up' %>
    </div>
  </div>
</div>