<% unless user_signed_in? %>
  <%= render 'welcome' %>
<% end %>
<div class="row justify-content-between">
  <div class="menu col-md-5">
    <aside>
      <div class="search-form">
        <%= render 'layouts/shared/search_form', url: root_path %>
      </div>
      <div class="ranking">
        <%= render 'ranking' %>
      </div>
    </aside>
  </div>
  <div class="techniques col-md-7">
    <%= render 'techniques/technique_cards', techniques: @techniques %>
  </div>
</div>

