<div class="center jumbotron">
  <div class="text-center">
    <h3>
      Monster Hunter World Iceborn<br/>
      既存の攻略サイトとは違う、<br/>
      熟練ハンター達が集い、その技を共有し、高め合う場所
    </h3>
    <p>二つのサービスが提供されます</p>
  </div>
</div>
<div class="row justify-content-around">
  <div class="card col-sm-5">
    <div class="card-header text-center">
      <%= link_to techniques_path do %>
        <%= 'ハンター養成所' %><i class="fas fa-school"></i>
      <% end %>
    </div>
    <div class="card-body">
      <p>
        「ハンター養成所」では、モンスターや武器毎に、熟練ハンター達が持つ「技」が公開されています。<br/>
        ここはプレイヤーのスキルを高める言わば「学びの場」です。<br/>
        学ぶだけでなく、自分の得た技を他のハンター達に共有することもできます。
        <p class="text-center"><%= link_to '養成所へ向かう', techniques_path, class: 'btn btn-info'%></p>
      </p>
    </div>
  </div>
  <div class="card col-sm-5">
    <div class="card-header text-center">
      <a href="#">救難信号<i class="fas fa-hands-helping"></i></a>
    </div>
    <div class="card-body">
      <p>
        「救難信号」では、一緒に狩りを手伝ってくれる仲間を募集できます。<br/>
        困ったときは是非活用してください。<br/>
        助けを求めるも良し、熟練ハンター同士で集まるも良し、<br/>
        楽しくワイワイ集まって交流するのも良いでしょう。<br/>
        <p class="text-center"><a class="btn btn-info" href="#">救難信号を出す</a></p>
      </p>
    </div>
  </div> 
</div>