/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

$link-color: #4b4f52;

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  a {
    color: $link-color;
    cursor: pointer;
  }
  a:hover {
    text-decoration: none;
    color: $link-color;
  }
  a:active {
    text-decoration: none;
    color: $link-color;
  }
}

.gray {
  background-color: #f9f9f9;
}

.content-main {
  flex: 1;
}

footer {
  width: 100%;
  height: 130px;
  background-color: #3e3e3e;
  text-align: center;
  bottom: 0;
  .copywright {
    font-size: 14px;
    padding-top: 5px;
    color: #b3b3b3;
  }
  .footer-content {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    .contact a {
      color: #b3b3b3;
    }
    .my-information a {
      color: #b3b3b3;
    }
  }
  p {
    margin-bottom: 0;
    margin-top: 10px;
    .title-name {
      font-size: 20px;
      font-weight: bold;
      color: #fff;
    }
  }
}

.nav-tabs .nav-item .nav-active {
  color: #495057;
  background-color: #f9f9f9;
  border-color: #dee2e6
}
.card .card-header {
  background-color: #e3f2fd;
}

.button {
  display: inline-block;
  border-radius: 5px;
  border: 2px solid;
  text-decoration: none;
  vertical-align: middle;
  transition: 0.3s; 
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
  text-decoration: none;
}

.button-sm {
  font-size: 12px;
  padding: 3px;
}

.button-md {
  padding: 5px;
}

.button-blue {
  color: #fff;
  background: #0C88CA;
  border-color: #0C88CA;
}

.button-blue:hover {
  background: #195a85;
  border-color: #195a85;
}

.button-red {
  color: #fff;
  background: #e44c65;
  border-color: #e44c65;
}

.button-red:hover {
  background: #992538;
  border-color: #992538;
  color: #fff;
}

.button-outline-green {
  color: #40C659;
  background: #fff;
}

.button-outline-green:hover {
  color: #fff;
  border-color: #40C659;
  background: #40C659;
}

.button-outline-blue {
  color: #0C88CA;
  border-color: #0C88CA;
  background: #fff;
  border: 1px solid;
}

.button-outline-blue:hover {
  background: #0C88CA;
  border-color: #0C88CA;
  color: #fff;
}

.button-icon {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.button-icon:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.button-icon-edit {
  color: #40C659;
}

.button-icon-edit:hover {
  background: #40C659;
}

.button-icon-logout {
  color: #e44c65;
}

.button-icon-logout:hover {
  background: #e44c65;
}

.paginate-button {
  display: inline-block;
  color: #0C88CA;
  transition: 0.3s;
  font-size: 35px;
}

.paginate-button:hover {
  cursor: pointer;
  color: #195a85;
}

.more-list {
  text-align: center;
}


#page-top {
  z-index: 1;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  background: black;
  opacity: 0.6;
  a {
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 25px;
    top: -13px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
    position: absolute;
  }
}

.navbar {
  background-color: #e3f2fd;
  ul {
    margin-left: auto;
    .new {
      display: flex;
      align-items: center;
      margin-right: 20px;
      .button-outline-green {
        padding: 10px;
        border-radius: 30px;
      }
    }
    .dropdown .dropdown-menu {
      background-color: #f9f9f9;
      .dropdown-item:hover {
        background-color: #f9f9f9;
      }
      .dropdown-item:active {
        background-color: #f9f9f9;
        color: $link-color;
      }
    }
  }
}

.disabled {
  pointer-events: none;
}

.avatar {
  border-radius: 50%;
}

.default-avatar {
  width: 100px;
  height: 100px;
}

.avatar-md {
  width: 40px;
  height: 40px;
}

.avatar-sm {
  width: 24px;
  height: 24px;
}

#paginate {
  margin-bottom: 15px;
}

.table {
  .techniques-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
    .created_at {
      color:gray;
      align-items: center;
      font-size: 14px;
      display: flex;
    }
    .avatarLink {
      display: flex;
      align-items: center;
      a {
        margin-right: 3px;
        font-size: 14px;
      }
    }
  }
  .techniques-body {
    .techniques-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 4px;
    }
    .details {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 4px;
      .monster {
        margin: 0px 16px 4px 0px;
      }
    }
  }
}

.reputation {
  display: flex;
  .like-count {
    margin-right: 10px;
  }
  .bookmark-count {
    margin-right: 10px;
  }
}

.rank-card {
  margin-top: 15px;
  margin-bottom: 15px;
  .ranking {
    display: flex;
    justify-content: space-between;
    .rank-number {
      margin-right: 10px;
    }
    .rank-title {
      margin-right: 10px;
    }
  }
}

.adv-card {
  margin-bottom: 15px;
  height: 250px;
}