/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * { font-family: 'M PLUS Rounded 1c', sans-serif; }

@import "font-awesome-sprockets";
@import "font-awesome";

$link-color: #4b4f52;

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  a {
    color: $link-color;
    cursor: pointer;
  }
  a:hover {
    text-decoration: none;
    color: $link-color;
  }
  a:active {
    text-decoration: none;
    color: $link-color;
  }
}


.content-wrapper {
  background: radial-gradient(circle, #fff 0%, #e7edf1 100%) no-repeat;
}

.content-main {
  flex: 1;
}

footer {
  width: 100%;
  height: 230px;
  bottom: 0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding-top: 30px;
  .footer-content {
    padding-top: 20px;
    .contact {
      margin-bottom: 10px;
    }
  }
  .copywright {
    margin-top: 20px;
    font-size: 14px;
    .title-name {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.nav-tabs .nav-item .nav-active {
  font-weight: bold;
  font-size: 1.15rem;
  color: black;
}

.icon-circle {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  transition: all 300ms linear;
}

.search-circle {
  background: #87a0c7;
  border: 1px solid #87a0c7;
  color: #fff;
}

.search-circle:hover {
  color: #87a0c7;
  background: #fff;
  border: 1px solid #87a0c7;
}

.button {
  display: inline-block;
  border-radius: 25px;
  border: 1px solid;
  text-decoration: none;
  vertical-align: middle;
  transition: all 300ms linear;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
  text-decoration: none;
}

.button-sm {
  font-size: 12px;
  padding: 3px;
}

.button-md {
  padding: 5px;
}

.button-blue {
  color: #fff;
  background: #5d9cec;
  border-color: #488fe6;
}

.button-blue:hover {
  background: #fff;
  border-color: #5d9cec;
  color: #5d9cec;
}

.button-red {
  color: #fff;
  background: #dc3535;
  border-color: #dc3535;
}

.button-red:hover {
  background: #fff;
  border-color: #dc3535;
  color: #dc3535;
}

.button-green {
  color: #fff;
  background: #a0d468;
  border-color: #94ce54;
}

.button-green:hover {
  background: #fff;
  border-color: #94ce54;
  color: #94ce54;
}

.button-outline-blue {
  color: #5d9cec;
  border-color: #468ee9;
  background: #fff;
  border: 1px solid;
}

.button-outline-blue:hover {
  background: #5d9cec;
  border-color: #468ee9;
  color: #fff;
}

.button-icon {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 300ms linear;
  color: #fff;
}

.button-icon:hover {
  cursor: pointer;
  text-decoration: none;
}

.button-icon-edit {
  background: #a0d468;
}

.button-icon-edit:hover {
  border-color: #a0d468;
  color: #a0d468;
  background: #fff;
}

.button-icon-logout {
  background: #dc3535;
}

.button-icon-logout:hover {
  border-color: #dc3535;
  color: #dc3535;
  background: #fff;
}

.paginate-button {
  display: inline-block;
  color: #0C88CA;
  transition: 0.3s;
  font-size: 35px;
}

.paginate-button:hover {
  cursor: pointer;
  color: #195a85;
}

.more-list {
  text-align: center;
}

#page-top {
  z-index: 1;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  background: black;
  opacity: 0.6;
  a {
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 25px;
    top: -13px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
    position: absolute;
  }
}

.navbar {
  ul {
    .new {
      display: flex;
      align-items: center;
      margin-right: 25px;
    }
    .dropdown {
      .dropdown-menu {
        background-color: #f9f9f9;
        .dropdown-item:hover {
          background-color: #f9f9f9;
        }
        .dropdown-item:active {
          background-color: #f9f9f9;
          color: $link-color;
        }
      }
    }
  }
}

.navbar-logo {
  border-radius: 5px;
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.navbar-light .navbar-toggler {
  border: #fff;
}

#q_weapon_id_eq {
  margin-bottom: 5px;
}

#q_monster_id_eq {
  margin-bottom: 5px;
}


.disabled {
  pointer-events: none;
}

.avatar {
  border-radius: 50%;
}

.default-avatar {
  width: 100px;
  height: 100px;
}

.avatar-md {
  width: 40px;
  height: 40px;
}

.avatar-sm {
  width: 24px;
  height: 24px;
}

#paginate {
  margin-bottom: 15px;
}

.table {
  .techniques-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
    .created_at {
      color:gray;
      align-items: center;
      font-size: 14px;
      display: flex;
    }
    .avatarLink {
      display: flex;
      align-items: center;
      a {
        margin-right: 3px;
        font-size: 14px;
      }
    }
  }
  .techniques-body {
    .techniques-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 4px;
    }
    .details {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 4px;
      .monster {
        margin: 0px 16px 4px 0px;
      }
    }
  }
}

.reputation {
  display: flex;
  .like-count {
    margin-right: 10px;
  }
  .bookmark-count {
    margin-right: 10px;
  }
}

.rank-card {
  margin-top: 15px;
  margin-bottom: 15px;
  .ranking {
    display: flex;
    justify-content: space-between;
    .rank-number {
      margin-right: 10px;
    }
    .rank-title {
      margin-right: 10px;
    }
  }
}

.adv-card {
  margin-bottom: 15px;
  height: 250px;
}

.card-title {
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}