
.fa-bookmark {
  color: #17a2b8
}

.favorite-icon {
  border-radius: 50%;
  margin-right: 3px;
}

.favorite-icon:hover {
  border-color: #17a2b8;
}

.unfavorite-icon {
  border-radius: 50%;
  border-color: #17a2b8;
  margin-right: 3px;
}