ul {
  list-style: none;
}

li .comment {
  display: flex;
}

.trash-icon {
  color: #0C88CA;
}
.first-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
  .user-name {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 15px;
    a {
      color: #4b4f52;
    }
  }
  .created-at {
    color:gray;
    font-size: 13px;
  }
  span {
    margin-left: 5px;
  }
}

.second-row {
  margin-left: 5px;
  font-size: 15px;
}

.comment-form {
  .comment-user-avatar {
    margin-bottom: 10px;
  }
  .action {
    margin-bottom: 0;
  }
}

.comment-list-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.comment-list {
  padding-left: 0;
}
