// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.user-profile {
  margin-bottom: 15px;
  .card {
    text-align: center;
    ul {
      li h4 {
        padding: 10px;
      }
      li .current-user-buttons {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5px;
      }
      li #relationship {
        display: flex;
        justify-content: space-around;
        .following-user p {
          margin: 0;
        }
        .follower-user p {
          margin: 0;
        }     
      }
    }
  }
}

.row .relational-list .table .user-info {
  display: flex;
  align-items: center;
  .user-avatar {
    margin-right: 5px;
  }
  .user-name a {
    color: #4b4f52;
    text-decoration: none;
  }
} 

.row .relational-list h5 {
  text-align: center;
}